<ion-item-sliding #slidingRef>
  <ion-item-options side="start">
    <ion-item-option (click)="deleteRow()">
      <ion-icon name="trash" color="danger"></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="crossOut(row.id)">
      <ion-icon [name]="row.isCrossedOut ? 'bandage-outline' : 'cross'" color="crossOut"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item>
    <ion-grid>
      <ion-row #rowRef [id]="row.id">
        <ion-col
          [size]="prop === 'logNote' ? 1 : null"
          *ngFor="let prop of x.x.AVAILABLE_COLUMNS_ORDERED; let i = index"
          [class]="prop + ' ' + 'cell'"
          [attr.data-cellid]="i"
          [attr.data-rowid]="row.id"
          [ngClass]="{
            deactivatedColumn: !activatedColumns[prop],
            userModified: propsPerCell[i].isModified,
            crossedOutActivated: activatedColumns[prop] === true && (row.isCrossedOut || row.isUntouched)
          }"
          [ngStyle]="prop === 'logNote' && { 'background-image': noteIconSvg }"
        >
          <!-- CELL VALUE: -->
          <ion-text
            *ngIf="prop !== 'logNote'"
            [ngClass]="{ fadedText: row.isCrossedOut || row.isUntouched }"
            #cellText
            >{{ row[prop] }}</ion-text
          >

          <!-- SELECTED CELL FRAME: -->
          <ng-container *ngIf="propsPerCell[i].isSelected">
            <div
              class="phrame-highlight"
              [ngClass]="{ noteOverflow: prop === 'logNote' && row['logNote'] != '' }"
            ></div>
          </ng-container>
          <!-- NOTE OVERLAY FOR CROSSED OUT ROW -->
          <ng-container *ngIf="prop === 'logNote' && (row.isCrossedOut || row.isUntouched)">
            <div class="noteOverlayForCrossedOutRow"></div>
          </ng-container>
        </ion-col>

        <!-- NOTE TEXT: -->
        <ng-container *ngIf="row['logNote'] != ''">
          <div class="noteText" [ngStyle]="{ color: noteColor }">
            <ion-text>{{ showNote ? row["logNote"] : "" }}</ion-text>
          </div>
        </ng-container>
      </ion-row>
    </ion-grid>

    <!-- CROSS OUT GRAPHIC -->
    <ng-container *ngIf="row.isCrossedOut || row.isUntouched">
      <div class="crossOutOverlay" [ngStyle]="{ 'background-image': crossedOutSvg }"></div>
    </ng-container>
    <ng-container *ngIf="prop === 'logNote' && (row.isCrossedOut || row.isUntouched)">
      <div class="noteOverlayForCrossedOutRow"></div>
    </ng-container>

    <ng-container *ngIf="row.isSelected">
      <div class="rowSelectedOverlay"></div>
    </ng-container>
  </ion-item>
</ion-item-sliding>
